/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Montserrat", Arial, sans-serif;
    --secondary-font: "Diplomata", sans-serif;
    --primary-color: #606060; /* dark gray */
    --secondary-color: #dfd8d8; /* light gray */
    --highlight-color: #3b0746; /* Purple */
    --highlight-color-light: #a890ad; /* light Purple */
    --bs-gutter-x: 0; /* Removes horizontal gutter space created by Bootstrap */
    
}

/* Global Styles */
body {
    font-family: var(--primary-font); /* Font style for regular text */
}
h1, h2, h3, h4 {
    font-family: var(--secondary-font); /* Font style for headings */
}
/* Dynamic font size depending on screen size */
h2 {
    font-size: calc(12px + 0.9vw);
}
/* Makes it easier to create layouts, avoiding unexpected box sizes. */
*, *::before, *::after {
    box-sizing: border-box;
}
/* NavBar */
#navbar {
    height: 82px;
    box-shadow: 0 2px 2px var(--secondary-color); /* Box shadow to seperate form sub-navbar */
    width: 100%;
    background-color: #506774;
    font-size: 120%;
    padding-top: 0;
}

.navbar-expand-md {
    padding-right: 30px;
    padding-left: 30px;
}

/* Navbar Text/links */
#logo {
    font-family: var(--secondary-font);
    font-weight: bold;
    margin-left: 300px;
    color: black;
}
/* Navbar link section */
#navbar .navbar-nav .nav-link {
    color: white; /* Set the text color to white */
}
/* Navbar link section with hover efect */
#navbar .navbar-nav .nav-link:hover {
    color:var(--highlight-color)
}

#navbar .navbar-nav .nav-link.active {
    color:var(--highlight-color-light); /* Ensure the active link is hightlight color light */
    font-weight: bold; /* Make the text bold */
}

/* Globa Button settings */

.custom-button-filled {
    border: 2px solid black;
    background-color: transparent;
    color: white;
}
/* Button with hover effect */
.custom-button-filled:hover {
    border: 2px solid black;
    background-color: #3b8484;
    color:var(--highlight-color)
}

.custom-button-outline {
    border: 2px solid white;
    padding: 3px 20px;
    color: var(--highlight-color)
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: black
}
/* Sub-navbar */
#sub-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    top:84px;
    width: 100%;
    height: 68px;
    background-color: #506774;
    box-shadow: 0 2px 2px var(--secondary-color);
}
/* Sub-navbar text */
#sub-navbar H1 {
    color: black;
    position: relative;
    text-align: center;
}
/* Adjust the navbar brand logo */ 
.logo-small {
    width: 80px;
    }

    
/* Hero image section */
#hero {
    background-image: url('../images/home-hero-img.webp');
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
}
#slogan {
    position: relative;
    text-align: center;
    margin-top: 25px;
    margin-right: 5%;
    top: 75%;     /* Adjust to 75% possition from top*/
    left: 5%;    /* Left possition */
    font-family: var(--secondary-font);
    font-size: calc(1rem + 0.9vw); /* Dynamic font size depends on screen size */
    color: white;
}
.container {
    text-align: center;
}

/* Carousel section */
.carousel-section {
    text-align: center;
    background-color: var(--secondary-color);
}
.carousel-section p {
    padding: 25px;
}


/* Set a fixed height for the carousel container */
#carouselExampleAutoplaying {
    width: 100%;
    height: 340px;
    overflow: hidden;
}

/* Ensure all images fit within the carousel container */
.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Add some margin to sections */
.carousel-section .row {
    justify-content: center;
    margin: 20px;
}

/* Social media links */
#contact .social-links i {
    color: var(--secondary-color);
    font-size: 2.4rem;
    -webkit-transition: color 0.3s ease-in-out; /* Hover effect delay */
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .social-links {
    text-align: center;
    padding: 60px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Center items vertically */
    list-style-type: none;
}
#contact h3 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 120%
}
/* Hover effect for Media Links */
#contact .social-links i:hover {
    color: var(--highlight-color);
}

/* Membership Section */
.membership {
    display: flex; /* Using flexbox to align children */
    align-items: center; /* This centers the items vertically */
    background-color: rgba(114, 143, 143, 0.8); /* background color */
    height: 170px; /* Maintains height */
    width: 100%;
}
/* Membershib sub-navbar possition & text color */
.membership h2 {
margin-top: 140px;
color:var(--highlight-color);
}

/* Membership hero section */
#hero2 {
    background-image: url('../images/membership-hero-img.webp');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
}

/* Membership Plans & Prices section */
.plans-grid {
    display: grid;
    grid-template-columns: auto; /* All items in one column */
    gap: 10px;
    background-color: rgba(114, 143, 143, 0.8); /* Background color with 80% opacity */
    padding: 20px;
    border-radius: 10px;
    height: 60vh;
    color: black;
}
.plans-grid > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 650; /* Make text bolder to increase visibility */
}
/* Hover effect for Plans & Prices text */
.plans-grid > div:hover {
    color: var(--secondary-color);
}
#hero2 {
    justify-content: center;
}
.plans-grid h4 {
    text-decoration: underline;
    color: black;
}

/* Timetable */
.membership {
    box-shadow: 0 3px 3px var(--highlight-color-light);
    justify-content: center;
}
/* Timetables section */
#section-1 {
    background-color:rgba(114, 143, 143, 0.7); /* Bacground color with 70% opacity */
    height: 100%;
    width: 100%;
    text-align: center;
    color: black;
    padding: 20px;
    font-size: calc(9px + 0.7vh); /* Dynamic font size to keep text size proportional on smaller screens */
}

#section-2 {
    background-image: url('../images/timetables-1-img.webp');
    background-size: cover;
    background-position: center;
    height: 57vh; /* Fixed height size */
    color:white;
    justify-content: flex-start; /* Align image from the left */
    flex-direction: column;
    padding: 15px;
    align-items: flex-start; /* Align text from the left */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Text shadow to increase visibility */
    
}
#section-2 ul {
    padding-left: 20px;
    padding-top: 20px;
    width: 60%; /* Text column width */
    background-color: rgba(114, 143, 143, 0.4); /*Transparent background color to increase contrast */

}
#section-2 li {
    margin-bottom: 25px;
}
#section-3 {
    background-image: url('../images/timetables-2-img.webp');
    background-size: cover;
    background-position: center;
    height: 57vh; /* Fixed hero image height */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Text shadow to increase visibility */

}
#section-3 ul {
    padding-left: 20px;
    padding-top: 20px;
    width: 60%; /* Text column width */
    
    background-color: rgba(114, 143, 143, 0.5); /*Transparent background color to increase contrast */
}
#section-3 li {
       margin-top: 20px;
    }

#section-4 {
    background-color: rgba(114, 143, 143, 0.7);
    height: 100%;
    width: 100%;
    text-align: center;
    color: black;
    padding: 20px;
    font-size: calc(9px + 0.7vh); /* Dynamic font size */
}

.col-12.col-md-6 {
    justify-content: center;
    padding: 0; /* Ensures no padding within columns */
}

.hero-section h3 {
    text-decoration: underline; /* Underline H3 text insection-1 and section-4 */
}

/* Bootcamps table */
.table2 {
    background-color:transparent; /* Make table background transparent */
    width: 60%; /* Adjust width of table */
    height: 70%; /* Adjust height of table */
    margin: auto; /* center the table */
    font-family: var(--secondary-font);
}
.table2 tr {
    border-bottom: 1px solid gray;
}

/* Contact-Us section */

#left-1 {
    background-image: url('../images/contact-hero-img.webp');
    background-size: cover;
    background-position: center;
    height: 97%; /* Adjust hero img height to fit in with surounded sections */
    display: flex;
    color:white;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    box-sizing: content-box;
}

#right-1 {
    background-image: linear-gradient(to bottom, rgba(114, 143, 143, 1) 0%, rgba(114, 143, 143, 0.2) 100%); /* background color with gradient opacity */
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

/* Contact Us form */
#signup {
    clear: both;  /* Clears the float, ensuring that #Submit starts below any floated content above it */
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 10px 10%;
    
}
/* Contact Us form text settings */
#signup p {
    color: black;
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    font-weight: 400;
}

#signup-form {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 0.9rem;
    background-color: transparent;
    border: 1px solid black;  /* Apply a solid black border around the form */

}

.text-input {
    background-color: var(--secondary-color);
    color: black;
    width: 65%;
    height: 20px; /* height of fill in field */
    margin: 2px 0 12px 0;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Fill in fields with delay hover effect */
    font-size: 0.8rem;
}


.text-input:hover {
    border: 1px solid black; /* Changes border color on hover */
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Aligns items to the start vertically */
    justify-content: space-between;
    margin-top: 10px;
}

.form-column {
    flex: 1;
    margin-right: 10px;
}

.form-column:last-child {
    margin-right: 0;
}
.form-column label, .form-column input {
    margin-bottom: 3px; /* Reduced from 5px for tighter spacing */
}

#signup-form {
    padding: 10px; /* Reduced overall padding inside the form */
    margin-bottom: 5px;
}


#form-button {
    margin-top: 10px; /* Adjust button position */
    padding: 8px 16px; /* Smaller padding to reduce height */
    font-size: 0.8rem; /* Smaller font size to suit the design */
    color: black;
    }
    
#about-us {
    text-align: left;
    padding: 25px; /* Add padding for spacing */
    font-size: calc(9px + 0.4rem); /* Dynamic font size */
    font-weight: 500;
}

.about-us-img {
    float: right;  /* Causes the image to float to the right */
    width: 200px;  /* Adjust the width */
    height: auto;  /* Maintains the aspect ratio */
    margin-left: 18px;  /* Adds space between the text and the image */
    margin-bottom: 10px;  /* Adds space below the image if needed */
}

/* Google Maps */

.map-container {
    width: 100%;
    padding: 0;
    margin: 10px 0 0 0;
}

iframe {
    width: 100%;
    height: 340px;
    border: none;
    display: block;
}

/* Remove gutter to push bootstrap container content full width*/
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0 !important; /* Set gutter to 0 */
    padding-right: 0 !important; /* Remove right padding */
    padding-left: 0 !important; /* Remove left padding */
    width: 100% !important;
}

/* Footer */
#contact {
    background-color: #506774;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 0;
}
.contact-info {
    font-size: 85%;
    color: var(--highlight-color);
}
/* Footer table */
#contact .table-dark * {
    background-color: transparent;
    color: var(--secondary-color)
}
.text-container {
    font-size: 90%;
    padding-top: 15px;
    color: var(--highlight-color-light);
}

/* Modal for contact us form sucessful sent aproval */
.modal-content {
    background-color: rgba(114, 143, 143, 0.9);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--highlight-color);
    width: 60%;
    font-family: var(--secondary-font);
}
.row {
    --bs-gutter-x:0;
}

/* Modal for subscription button */
.modal-content {
    font-family: var(--primary-font);
    font-weight: 550;
    color: black;
    padding: 0;
}
.modal-content h5 {
    font-family: var(--secondary-font);
    font-size: calc(8px + 0.8vw); /* Dynamic font size */
    padding: 0;
}
.modal-body {
    font-size:calc(8px + 0.7vw);
}
/* Contact form modal message */
#myModal {
    width: 75%; /* Message width of */
    top: 75vh; /* Adjust message possition from top */
    left: 50vw;
    transform: translate(-50%, -50%); /* Center message */
}

.form-control {
background-color:var(--secondary-color)
}

/* Medium devices and smaller screens (tablets, 775px and down) */
@media screen and (max-width: 767px)
 {
    .navbar-nav {
        /* Navigation menu when collapsed */
        background-image: linear-gradient(to bottom, rgba(80,103,116, 1) 0%, rgba(114, 143, 143, 0.8) 100%);
        margin-top: 3px;
        padding-bottom: 20px;
        justify-content: center;
    }
    .logo {
       margin-top: 0;
    }
    #navbar {
        width: 100vw;
    }
}

/* Specific screen size */
  @media screen and (min-width: 768px) and (max-width: 887px)
  /* Adjust section-2 and section-3 at specific screen size to fill the empty hero img gaps */
  {
#section-2, #section-3 {
        height: 100%;
    }
  }
  @media screen and (min-width: 1200px) {
.modal-content h5 {
font-size: 1.2rem;
}
  }