/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Montserrat", Arial, sans-serif;
    --secondary-font: "Diplomata", sans-serif;
    --primary-color: #606060;
    /* dark gray */
    --secondary-color: #dfd8d8;
    /* light gray */
    --highlight-color: #3b0746;
    /* Purple */
    --highlight-color-light: #a890ad;
    /* light Purple */
}

/* Global Styles */
body {
    font-family: var(--primary-font);
}

/* NavBar */
#navbar {
    height: 81px;
}

/* Move more left navbar logo */
.logo-small {
    margin-left: -90px;
}
#logo {
    font-family: var(--secondary-font);
    font-weight: bold;
    margin-left: 300px;
    color: black;
}

#navbar {
    background-color: #506774;
    /* Set the background color */
    font-size: 120%;
}
/* Adjust the container to create space on the right */
#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Apply extra margin or padding to the navbar-nav */
#navbar .navbar-nav {
    margin-right: -35px;
    padding-right: -35px;
}

#navbar .navbar-nav .nav-link {
    color: white;
    /* Set the text color to white */
}

#navbar .navbar-nav .nav-link.active {
    color: white;
    /* Ensure the active link is also white */
    font-weight: bold;
    /* Make the text bold */
}



/* Hero image section */
#hero {
    background-image: url('../images/home-hero-img.webp');
    /* Hero image */
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text elements */
    padding: 20px; /* Padding on all sides */
}